{% extends "base_template.html" %}

{% block title %}Game Form{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card p-4">
                <h2 class="mb-4">Game Form</h2>
                <form method="post" class="form-control" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="p-3 btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}