{% extends "base_template.html" %}

{% block title %}Game Detail{% endblock %}

{% block content %}

{% load static %}
<!-- Page Content -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="card p-4">
                <h1 class="mb-4 text-primary">{{ game.Title }}</h1>
                <p class="lead">{{ game.Description }}</p>
                <hr>
                <p><strong>Category:</strong> <span class="badge bg-info">{{ game.Category }}</span></p>
                <p><strong>Difficulty Level:</strong> <span class="badge bg-warning">{{ game.Difficulty_Level }}</span>
                    {% if game.Imageicon %}
                    <img src="{{ game.Imageicon.url }}" class="form-control" alt="{{ game.Title }}" />
                    {% else %}
                    <!-- Provide a fallback image if Imageicon is not available -->
                    <img src="{% static 'images/games.jpg' %}" class="form-control" alt="{{ game.Title }}" />
                    {% endif %}

                </p>
                <hr>
                <div class="d-flex justify-content-between">
                    <a href="{% url 'game_list' %}" class="btn btn-outline-primary">&laquo; Back to Games</a>
                    <div>
                        <a href="#" class="btn btn-primary">Play Now</a>
                        <a href="#" class="btn btn-secondary">Add to Favorites</a>
                    </div>
                    <div>
                        <a href="{% url 'game_delete' pk=game.GameID %}" class="p-1 m-2 btn btn-primary">Delete Game</a>
                        <a href="{% url 'game_update' pk=game.GameID %}" class="p-1 m-2 btn btn-primary">Edit Game</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}