{% extends "base_template.html" %}

{% block title %}Performance Report Detail{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Tasks Completed: {{ report.TasksCompleted }}</h1>
            <p class="card-text">Average Grade: {{ report.AverageGrade }}</p>
            <p class="card-text">Improvement areas: {{ report.AreasForDevelopment }}</p>
            <div class="btn-group">
                <a href="{% url 'performance_report_update' pk=report.pk %}" class="p-2 m-1 btn btn-primary">Edit</a>
                <a href="{% url 'performance_report_delete' pk=report.pk %}" class="p-2 m-1 btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}