{% extends "base_template.html" %}

{% block title %}Progress Detail{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container mt-5">
    <h1 class="mb-4">Progress Detail</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Completion Status: {{ progress.CompletionStatus }}</h5>
            <p class="card-text">Grade: {{ progress.Grade }}</p>
            <p class="card-text">Time Spent: {{ progress.TimeSpent }}</p>
            <div class="btn-group">
                <a href="{% url 'progress_update' pk=progress.pk %}" class="p-2 m-1 btn btn-primary">Edit</a>
                <a href="{% url 'progress_delete' pk=progress.pk %}" class="p-2 m-1 btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}