{% extends "base_template.html" %}

{% block title %}Available Games{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container mt-5">
    <h1 class="mb-4">Progress</h1>
    <div class="col-6">
        <a href="{% url 'progress_create' %}" class="p-3 mb-2 btn btn-sm btn-primary">Create New Progress</a>
    </div>
    <div class="row">
        {% for progress in progresses %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <p class="card-text">User: {{ progress.username }}</p>
                    <h5 class="card-title">Completion Status: {{ progress.CompletionStatus }}</h5>
                    <p class="card-text">Grade: {{ progress.Grade }}</p>
                    <p class="card-text">Time Spent: {{ progress.TimeSpent }}</p>
                    <a href="{% url 'progress_detail' pk=progress.pk %}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}