{% extends "base_template.html" %}

{% block title %}Performance Reports{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Performance Reports</h1>
    <div class="col-6">
        <a href="{% url 'performance_report_create' %}" class="p-3 mb-2 btn btn-sm btn-primary">Create New Report</a>
    </div>
    <div class="row">
        {% for report in reports %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <p class="card-text">User: {{ report.username }}</p>
                    <h5 class="card-title">Tasks Completed: {{ report.TasksCompleted }}</h5>
                    <p class="card-text"> Average Grade: {{ report.AverageGrade }}</p>
                    <p class="card-text">Improvement Areas: {{ report.AreasForDevelopment }}</p>
                    <div class="btn-group">
                        <a href="{% url 'performance_report_detail' pk=report.pk %}"
                            class="p-2 m-1 btn btn-primary">View</a>
                        <a href="{% url 'performance_report_update' pk=report.pk %}"
                            class="p-2 m-1 btn btn-primary">Edit</a>
                        <a href="{% url 'performance_report_delete' pk=report.pk %}"
                            class="p-2 m-1 btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}